main {
  padding-right: 10rem;
  padding-left: 10rem; }

footer {
  background-color: var(--dark);
  color: white;
  text-align: center;
  padding: 5rem; }

@media (max-width: 1199.98px) {
  main {
    padding: 8rem; } }

@media (max-width: 991.98px) {
  main {
    padding: 5rem; } }

@media (max-width: 767.98px) {
  main {
    padding: 2rem; } }

nav {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  background-color: white;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-top: 2rem; }
  nav .navbar-brand {
    color: rgba(0, 0, 0, 0.9); }
  nav .navbar-utils {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-right: 2rem;
    padding-top: 1rem; }
    nav .navbar-utils__search {
      margin-right: 2rem; }

@media (max-width: 991.98px) {
  nav .navbar-utils {
    justify-content: space-between;
    width: 50%;
    padding-right: 0; } }

@media (max-width: 767.98px) {
  nav {
    text-align: center; }
    nav .navbar-brand {
      width: 100%; }
    nav .navbar-utils {
      width: 100%; } }

.post {
  padding-left: 4rem;
  padding-right: 4rem; }
  .post-content {
    padding-top: 5rem;
    padding-bottom: 2rem; }
  .post-title__container {
    display: block;
    height: 10rem;
    text-align: center; }
  .post-comments {
    padding-top: 2rem; }
    .post-comments-list {
      padding-top: 2rem; }
    .post-comments__form {
      padding-top: 2rem; }
    .post-comments__item {
      position: relative;
      display: block;
      padding: .75rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      color: #495057;
      border: 1px solid rgba(0, 0, 0, 0.125); }
      .post-comments__item__content {
        margin-top: 1rem; }
      .post-comments__item__date {
        color: var(--gray); }
    .post-comments__response {
      width: 95%;
      justify-self: center; }
  .post-divisor {
    height: 1px;
    background-color: #dedede;
    width: 85%; }

@media (max-width: 991.98px) {
  .post {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 767.98px) {
  .post {
    padding-left: 0;
    padding-right: 0; } }

.banner {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .banner-featured {
    width: 70%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    border-right: .8px solid #dedede;
    color: var(--gray-dark); }
    .banner-featured__container {
      text-decoration: none; }
      .banner-featured__container__heading {
        color: var(--primary); }
      .banner-featured__container__title-container {
        display: flex;
        justify-content: space-between;
        align-items: center; }
  .banner-featured:hover {
    text-decoration: none;
    background-color: var(--light); }
  .banner-topics {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    .banner-topics .btn {
      margin: .4rem; }

@media (max-width: 991.98px) {
  .banner {
    flex-direction: column-reverse; }
    .banner-featured {
      width: 100%;
      padding-top: .8rem;
      padding-right: 0;
      border-right: none; }
    .banner-topics {
      padding-left: 0;
      flex-wrap: wrap;
      justify-content: start; }
      .banner-topics .btn {
        margin: .4rem; } }

.posts {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .posts .posts__item {
    padding-left: 0;
    padding-right: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 0; }
