body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 10rem;
  padding-left: 10rem;
  
}

@include media-breakpoint-down(lg) {
  body {
    padding: 8rem;
  }
}

@include media-breakpoint-down(md) {
  body {
    padding: 5rem;
  }
}

@include media-breakpoint-down(sm) {
  body {
    padding: 2rem;
  }
}