nav {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  background-color: #f9f5f5;

  
  &.nav-bar {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
  }

  .navbar-brand {
    color: rgba(0,0,0,.9);
  }
  .navbar-utils {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-right: 2rem;
    padding-top: 1rem;

    &__item {
      white-space: nowrap;
    }
    &__search {
      margin-right: 2rem;
    }
  }
}

@include media-breakpoint-down(lg) {
  nav.nav-bar {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}

@include media-breakpoint-down(md) {
  nav.nav-bar {
    padding-right: 5rem;
    padding-left: 5rem;
    .navbar-utils {
      justify-content: space-between;
      width: 50%;
      padding-right: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  nav.nav-bar {
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
    .navbar-brand {
      width: 100%;
    }
    .navbar-utils {
      width: 100%;
    }
  }
}