nav {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  background-color: white;
  .navbar-brand {
    color: rgba(0,0,0,.9);
  }
  .navbar-utils {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-right: 2rem;
    padding-top: 1rem;
    &__search {
      margin-right: 2rem;
    }
  }
}

@include media-breakpoint-down(md) {
  nav {
    .navbar-utils {
      justify-content: space-between;
      width: 50%;
      padding-right: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  nav {
    text-align: center;
    .navbar-brand {
      width: 100%;
    }
    .navbar-utils {
      width: 100%;
    }
  }
}