.banner {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
  &-featured {
    width: 70%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    border-right: .8px solid #dedede;
    color: var(--gray-dark);
    
    &__container {
      text-decoration: none;
      &__title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
    }

    &__heading {
      color: var(--primary);
      margin-bottom: 1rem;
      font-size: .8rem;
    }
  }
  &-featured:hover {
    text-decoration: none; 
    background-color: var(--light);
  }
  &-topics {
    padding: 2rem;
    text-align: right;
    .btn {
      margin: .4rem;
      background-color: #e9e4e4;
    }
  }
}

@include media-breakpoint-down(md) {
  .banner {
    flex-direction: column-reverse;

    &-featured {
      width: 100%;
      padding-top: .8rem;
      padding-right: 0;
      border-right: none;
    }

    &-topics {
      padding-left: 0;
      text-align: left;
    }
  }
}