.post {
  padding-left: 4rem;
  padding-right: 4rem;

  &-content {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  &-title__container {
    display: block;
    height: 10rem;
    text-align: center;
  }
  &-title__text {
    
  }

  &-comments {
    padding-top: 2rem;
    
    &-list {
      padding-top: 2rem;
    }

    &__form {
      padding-top: 2rem;
    }

    &__item {
      position: relative;
      display: block;
      padding: .75rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      color: #495057;
      border: 1px solid rgba(0,0,0,.125);

      &__content {
        margin-top: 1rem;
      }

      &__date {
        color: var(--gray)
      }
      
    }

    &__response {
      width: 95%;
      justify-self: center;
    }

  }

  &-divisor {
    height: 1px;
    background-color: #dedede;
    width: 85%;

  }
}

@include media-breakpoint-down(md) {
  .post {
    padding-left: 0;
    padding-right: 0;
  }
}

@include media-breakpoint-down(sm) {
  .post {
    padding-left: 0;
    padding-right: 0;
  }
}